/nbproject/
/nbproject/
/.idea/*
/.idea/*
*.tmlanguage.cache
*.tmlanguage.cache
*.tmPreferences.cache
*.tmPreferences.cache
*.stTheme.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-workspace
*.sublime-project
*.sublime-project
node_modules/
bin/
obj/
.vs/
.env*
app/modules/storage/reports/SCI*